* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --primary: #61ecbc;
  --black: #182339;
}

html {
  /* nos permite trabajar con rem al mismo tamaño que pixeles, ya que los rem es una muy buena forma que se adapta a distintas resoluciones*/
  font-size: 62.5%;
}

body {
  background-image: url("/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 93vh;
  font-family: "Outfit", system-ui;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.app-title {
  margin-top: 5rem;
  color: var(--primary);
  font-size: 4.4rem;
  line-height: 1;
}

.app-title span {
  display: block;
  font-size: 3.8rem;
  color: var(--white);
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
